body {
  font-family: arial;
}
p.centered {
  font-size: 18px;
  text-align: center;
}
h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: arial;
  text-align: center;
}
p {
  font-size: 18px;
  font-weight: lighter;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.intro {
  font-size: 25px;
  clear: both;
  font-family: fantasy;
  text-align: center;
  font-weight: lighter;
}
.desc {
  font-family: fantasy;
  text-align: center;
  font-size:18px;
  margin-bottom: 50px;
}
.logo {
  float: left;
  margin-right: 70px;
}
.logo a{
  list-style: none;
}
#navi ul{
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
}
#navi li {
  float: left;
}
#navi a {
  width: 70px;
  color: #f5793d;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px 5px;
  display: block;
  text-align: center;
}
.bold {
  font-weight: bold;
  font-style: normal;
}
.emphasise {
  font-weight: normal;
  font-style: italic;
}
.table {
  margin-top: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.table a {
  color: #f5793d;
  text-decoration: none;
}
.thead th {
  text-transform: uppercase;
  padding-left: 30px;
}
td {
  padding-top: 15px;
  padding-left: 30px;
}
.cols {
  width: 30%;
  float: left;
  margin-right: 50px;
}
.cols h3 {
  text-align: center;
}
#footer {
  float: left;
  width: 100%;
  color: #f5793d;
  text-transform: capitalize;
  text-align: center;
  height: 100px;
  padding-top: 40px;
}
